
/* GOOGLE FONTS */
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
/* ------- */

:root {

	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: 500;

	--tile-size: 8rem;
	--tile-aspect-ratio: 3 / 4;

	--card-size: 10rem;
	--card-aspect-ratio: 2 / 3;

	/* COLORS */
	--palette-board-rgb:		206, 232, 209;
	--palette-board-hex:		#cee8d1;
	
	--palette-black-rgb:		16, 16, 17;
	--palette-black-hex:		#18241b;
	
	--palette-red-rgb:			236, 0, 39;
	--palette-red-hex:			#ec0027;
	
	--palette-green-rgb:		0, 170, 71;
	--palette-green-hex:		#00aa47;
	
	--palette-blue-rgb:			0, 65, 204;
	--palette-blue-hex:			#0041cc;
	
	--palette-light-blue-rgb:	17, 188, 255;
	--palette-light-blue-hex:	#11bcff;
	
	--palette-yellow-rgb:		231, 216, 0;
	--palette-yellow-hex:		#e7d800;
	
	--palette-orange-rgb:		226, 109, 0;
	--palette-orange-hex:		#e26d00;
	
	--palette-purple-rgb:		142, 0, 170;
	--palette-purple-hex:		#8e00aa;
	
	--palette-brown-rgb:		128, 40, 0;
	--palette-brown-hex:		#802800;
}


.DEBUG * {
	outline: 1px solid #ff00ff !important;
	background: rgba(255,0,255,0.05);
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}
*::before, *::after {box-sizing: border-box;}

h1 {
	font-size: 1.9em;
	font-weight: 700;
	letter-spacing: -1px;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: -1px;
}
h3 {
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 0px;
}
h4 {
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 0px;
}
p {
	font-size: 0.85em;
	line-height: 1.5;
}
a {
	color: inherit;
	text-decoration: none;
}

html {
	color-scheme: dark light;
}

body {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
	padding: 1rem;
	margin: 0;
	font-size: 100%;
	color: var(--palette-black-hex);
	background-color: var(--palette-board-hex);
	background-image: url("/assets/background.jpg");
	background-position: center;
	background-size: cover;
}

img, picture, svg, video {
	display: block;
}




aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
	width: 100%;
	height: 100%;
	font-family: "Bubblegum Sans", cursive;
}

aside > * {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 1em;
	border-radius: 1em;
	background-color: rgba(var(--palette-board-rgb), 0.9);
}

aside > *.hidden {
	display: none;
}



/* Player selection */
.player-selection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: 100%;
}

.player-selection .player {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	gap: 0.75em;
	padding: 0.5em;
	min-width: calc(50% - 0.5em);
	max-width: calc(50% - 0.5em);
	border-radius: 0.5em;
	overflow: hidden;
	background-color: rgba(0,0,0, 0.3);
	transition: background-color 0.2s, transform 0.2s;
}

.player-selection .player .add {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 0.5em;
}

.player-selection .player .add span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	width: 2em;
	aspect-ratio: 1 / 1;
	font-weight: 900;
	background-color: rgba(0,0,0, 0.2);
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
}

.player-selection .player .add span:hover {
	background-color: rgba(0,0,0, 0.3);
}

.player-selection .player .remove {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7em;
	width: 2em;
	aspect-ratio: 1 / 1;
	font-weight: 900;
	background-color: rgba(0,0,0, 0.2);
	border-radius: 50%;
	cursor: pointer;
}

.player-selection .player .remove.hidden {
	display: none;
}


.player-selection .player .avatar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
	width: 100%;
}

.player-selection .player .avatar img {
	width: 100%;
	height: 5em;
	object-fit: contain;
}

.player-selection .player .avatar .nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.player-selection .player .avatar .nav span {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255, 0.3);
	width: 2em;
	aspect-ratio: 1 / 1;
	border-radius: 0.5em;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 900;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s;
}

.player-selection .player .avatar .nav span:hover {
	background-color: rgba(255,255,255, 0.5);
}


.player-selection .player .name {
	width: 100%;
}

.player-selection .player .name input {
	width: 100%;
}






.board {
	position: relative;
	display: grid;
	grid-template-columns: var(--tile-size) repeat(9, calc(var(--tile-size) * var(--tile-aspect-ratio))) var(--tile-size);
	grid-template-rows: var(--tile-size) repeat(9, calc(var(--tile-size) * var(--tile-aspect-ratio))) var(--tile-size);
	grid-gap: 0.5em;
	background-color: rgba(var(--palette-board-rgb), 0.9);
	border-radius: 1em;
	padding: 1em;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
}

.board .tile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 0.2em;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
	background-color: rgba(var(--palette-board-rgb), 0.5);
	border-radius: 0.5em;
	overflow: hidden;
}

.board .tile .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.5em;
	font-size: 0.9em;
}

.board .tile .container .name {
	word-wrap: break-word;
	overflow-wrap: anywhere;
	hyphens: auto;
}

.board .tile .container .description {
	font-size: 0.7em;
	word-wrap: break-word;
	overflow-wrap: anywhere;
	hyphens: auto;
}

.board .tile .container .image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}

.board .tile .container .image img {
	max-width: 80%;
	height: 100%;
}

.board .tile .container .price {
	font-size: 0.8em;
	font-weight: 700;
}

.board .tile .color {
	width: 100%;
	height: 20%;
	border-radius: 0.3em;
	background-color: var(--background-color);
	--background-color: red;
}


/* tiles positions */

.board .tile.top {
	flex-direction: column;
}

.board .tile.left {
	flex-direction: row;
}

.board .tile.right {
	flex-direction: row-reverse;
}

.board .tile.bottom {
	flex-direction: column-reverse;
}

.board .tile.left .color, .board .tile.right .color {
	width: 20%;
	height: 100%;

	background-color: var(--background-color);
	--background-color: red;
}

.board .tile .color[color="red"]			{--background-color: var(--palette-red-hex);}
.board .tile .color[color="green"]			{--background-color: var(--palette-green-hex);}
.board .tile .color[color="blue"]			{--background-color: var(--palette-blue-hex);}
.board .tile .color[color="light-blue"]		{--background-color: var(--palette-light-blue-hex);}
.board .tile .color[color="yellow"]			{--background-color: var(--palette-yellow-hex);}
.board .tile .color[color="orange"]			{--background-color: var(--palette-orange-hex);}
.board .tile .color[color="purple"]			{--background-color: var(--palette-purple-hex);}
.board .tile .color[color="brown"]			{--background-color: var(--palette-brown-hex);}



/* CENTER TILE */

.board .tile.center {
	grid-column: 2/span 9;
	grid-row: 2/span 9;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
	background-color: transparent;
}

.board .tile.center .logo {
	grid-column: 1/9;
    grid-row: 4;
	animation: 1s ease-out start-rotation forwards;
}

.board .tile.center .logo .text {
	position: relative;
	font-size: 5em;
	text-transform: uppercase;
	font-weight: 500;
	padding: 1rem 2rem;
	border-radius: 1rem;
	color: #fff;
	background-color: var(--palette-red-hex);
}

.board .tile.center .logo .text::before {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	content: "";
	width: calc(100% - 1rem);
	height: calc(100% - 1rem);	
	padding: 1rem;
	border: 0.25rem solid #fff	;
	border-radius: 0.7rem;
}

.board .tile.center .deck {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1 / 3;
    grid-row: 1 / 3;
    transform: rotate(-45deg);
    margin-top: 5em;
    margin-left: 5em;
}

.board .tile.center .deck.chance {
	grid-column: 5 / 7;
    grid-row: 5 / 7;
}

.board .tile.center .deck h2 {
	text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    padding-bottom: 0.2em;
}

.board .tile.center .deck .outline {
	border: 2px dashed #080808;
    width: var(--card-size);
	height: calc(var(--card-size) * var(--card-aspect-ratio));
	border-radius: 0.5em;
}

.board .tile.center .version {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-self: last baseline;
    justify-self: first baseline;
	font-size: 0.8em;
	gap: 0.5em;
	padding: 0.5em;
	margin: 1em;
    grid-column: 1 / span 2;
    grid-row: 7;
	border-radius: 0.5em;
	background-color: rgba(255,255,255,0.75);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.board .tile.center .version .text {
	font-weight: 600;
	text-transform: capitalize;
}

.board .tile.center .version img {
	height: 3em;
	border-radius: 0.5em;
}



/* Corners */

.board .tile.corner .container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 90%;
}

.board .tile.corner .container h2 {
	font-weight: 600;
	font-size: 1.2em;
}

.board .tile.corner .container h3 {
	font-size: 0.9em;
}


/* Bottom Right - GO */

.board .tile.corner.br {
	grid-area: 11 / 11;
}

.board .tile.corner.br .container {
	transform: rotate(-45deg);
}

.board .tile.corner.br img {
	width: 80%;
}


/* Bottom Left - PRISON */

.board .tile.corner.bl {
	grid-area: 11 / 1;
	padding: 0;
}

.board .tile.corner.bl .container {
	position: relative;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 0;
}

.board .tile.corner.bl .container .inside {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--palette-orange-hex);
	border: 2px solid #000;
	width: 70%;
	height: 70%;
	border-radius: 0.5em;
}

.board .tile.corner.bl .container .inside .inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	transform: rotate(45deg);
	overflow: hidden;
}

.board .tile.corner.bl .container .inside .inner img {
	width: 60%;
}

.board .tile.corner.bl .container .outside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.board .tile.corner.bl .container .outside :nth-child(1) {
	position: absolute;
	top: 0;
	left: -10%;
	height: 30%;
	transform: rotate(90deg) translate(50%, 0);
}

.board .tile.corner.bl .container .outside :nth-child(2) {
	position: absolute;
	bottom: -10%;
	right: 0;
	width: 70%;
	height: 30%;
}


/* Top Left - PARKING */

.board .tile.corner.tl {
	grid-area: 1 / 1
}

.board .tile.corner.tl .container {
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	transform: rotate(-45deg);
}

.board .tile.corner.tl .container img {
	width: 50%;
}

/* Top Right - GO TO JAIL */

.board .tile.corner.tr {
	grid-area: 1 / 11;
}

.board .tile.corner.tr .container {
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	transform: rotate(45deg);
}

.board .tile.corner.tr .container img {
	width: 50%;
}




/* Common & Shared*/

/* money */
span.money {
	position: relative;
}

span.money::before {
	content: attr(unit);
}




/* INPUT */
input {
    text-align: center;
    padding: 0 0.5em;
	line-height: 2em;
    margin: 0;
    font-size: 1em;
	font-weight: 400;
	color: #fff;
	background-color: rgba(0,0,0, 0.3);
    border-radius: 0.5em;
    border: none;
	outline: transparent;
	transition: background-color 0.3s;
}
input:hover, input:focus {
	background-color: rgba(0,0,0, 0.5);
}
input::placeholder, textarea::placeholder {
	font-size: 0.9em;
	color: rgba(0,0,0, 0.5);
}


input[theme="light"] {color: #000; background-color: rgba(255,255,255, 0.3);}
input[theme="light"]:hover, input[theme="light"]:focus {background-color: rgba(255,255,255, 0.5);}
input[theme="light"]::placeholder, textarea[theme="light"]::placeholder {color: rgba(0,0,0, 0.5);}


/* BUTTON */
button {
    text-align: center;
    padding: 0.3em 0.7em;
	line-height: 2em;
    margin: 0;
    font-size: 1.2em;
	font-weight: 400;
	color: #000;
	background-color: rgba(0,0,0, 0.3);
    border-radius: 0.5em;
    border: none;
	outline: transparent;
	cursor: pointer;
	transition: background-color 0.3s;
}
button:hover {
	background-color: rgba(0,0,0, 0.5);
}


button[theme="light"] {background-color: rgba(255,255,255, 0.4);}
button[theme="light"]:hover {background-color: rgba(255,255,255, 0.7);}

button[theme="red"] {background-color: rgba(var(--palette-red-rgb), 0.4);}
button[theme="red"]:hover {background-color: rgba(var(--palette-red-rgb), 0.7);}

button[theme="green"] {background-color: rgba(var(--palette-green-rgb), 0.4);}
button[theme="green"]:hover {background-color: rgba(var(--palette-green-rgb), 0.7);}

button[theme="blue"] {background-color: rgba(var(--palette-blue-rgb), 0.4);}
button[theme="blue"]:hover {background-color: rgba(var(--palette-blue-rgb), 0.7);}









/* ANIMATIONS */

@keyframes start-rotation {
	from {transform: rotate(0);}
	to   {transform: rotate(-45deg);}
}

@keyframes rotation-360 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}